<% content_for(:nav) do %>
  <%= link_to('Past Gigs', past_gigs_path, class: 'text-center underline text-lg') %>
<% end %>


<div class="w-full">
  <div class="p-8 space-y-8 bg-black bg-chalk-board">
    <h2 class="text-8xl uppercase text-white text-center font-display">
      What's on this week?
    </h2>
    <h3 class="text-xl text-white text-center">
      <% if notice.present? %>
        <span id="notice"><%= notice %></span>
      <% else %>
        Join the mailing list!
      <% end %>
    </h3>
    <%= form_with(model: @subscriber) do |form| %>
      <% if @subscriber.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
          <h2><%= pluralize(@subscriber.errors.count, "error") %> prohibited creating a subscription:</h2>

          <ul>
            <% subscription.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <div class="my-5 flex max-w-lg mx-auto">
        <%= form.text_field :email, placeholder: "Email", class: "block shadow rounded-l-lg border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
        <%= form.submit "Subscribe", class: "rounded-r-lg mt-2 py-2 px-3 bg-blue-600 text-white inline-block font-medium cursor-pointer border-1 border-blue-600" %>
      </div>
    <% end %>
  </div>

  <div class="px-6">

    <div id="gigs" class="min-w-full">
      <% previous_gig = nil %>
      <% ad_rate = 7 %>
      <% @gigs.each do |gig| %>
        <% if previous_gig.nil? || gig.date != previous_gig.date %>
          <% ad_rate = ad_rate > 0 ? ad_rate - 1 : 7 %>
          <% if ad_rate == 3 %>
            <%= link_to "https://badhabitstudios.co.uk", class: "-ml-2 block bg-black text-white hover:bg-gray-800 p-2 mt-5" do %>
              <span class="py-5 text-2xl text-center">Bad Habit Studios</span>
              <br/>
              <span>Music rehearsal &amp; recording studio in Eastbourne</span>
            <% end %>
          <% end %>
          <%= link_to "##{gig.date}", class: "underline" do %>
            <h3 class="text-3xl mt-5" data-date="<%= gig.date %>" id="<%= gig.date %>">
              <%= gig.date&.strftime("%^a %-d %^b") %>
            </h3>
          <% end %>
        <% end %>
        <% previous_gig = gig %>
        <%= link_to gig, class: "-ml-2 block bg-gray-100 hover:bg-gray-200 p-2 mt-5" do %>
          <%= render partial: 'gig', locals: { gig: gig, link_acts: false } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
