<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div id="gigs" class="min-w-full">
    <% previous_gig = nil %>
    <% @gigs.each do |gig| %>
      <% if previous_gig.nil? || gig.date != previous_gig.date %>
        <h3 class="text-3xl mt-5" data-date="<%= gig.date %>">
          <%= gig.date&.strftime("%^a %-d %^b") %>
        </h3>
      <% end %>
      <% previous_gig = gig %>
      <%= link_to gig, class: "-ml-2 block bg-gray-100 hover:bg-gray-200 p-2 mt-5" do %>
        <%= render gig %>
      <% end %>
    <% end %>
  </div>

  <script>

    function isToday(date) {
      var today = new Date()
      return date.getDate() == today.getDate() &&
        date.getMonth() == today.getMonth() &&
        date.getFullYear() == today.getFullYear();
    }

    var days = document.querySelectorAll("[data-date]");
    for (day of days) {
      if (isToday(new Date(day.dataset.date))) {
        day.scrollIntoView();
        break;
      }
    }
  </script>
</div>
